@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-app : #262626;
    --bg-active-app : #404040;
}

* {
    padding: 0;
    margin: 0;
}

.bg-app {
    background-color: var(--bg-app);
}

.bg-active-app {
    background-color: var(--bg-active-app);
}

.bd {
    border: 1px solid red;
}

.custom-border-bottom {
    border-bottom: 1px solid gray;
}

.ff-monster {
    font-family: 'Montserrat', sans-serif;
}

.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}

.common-bs {
    box-shadow: rgba(136, 165, 191, 0.48) 2px 0px 3px 0px, rgba(255, 255, 255, 0.8) 0px 0px 0px 0px;
}

.common-insider-bs {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.common-gradient {
    background: linear-gradient(90deg,#0674d6,#06579f);
}

.border-radius-50 {
    border-radius: 50%;
}

.bg-mac {
    background-color: var(--mac-color);
}

.fadeInUp{
    animation : fadeInUpAnimation 1s ease backwards;
}
@keyframes fadeInUpAnimation{
  0%{transform:translate(0px, 50px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}